<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/img/FaaelNew.jpeg" type="image/png" />
    <title>Faael Khaeer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/themify-icons.css" />
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css" />

    <!-- main css -->
    <link rel="stylesheet" href="~/css/style.css" />


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">


</head>

<body>
    
    @RenderSection("Headerimg",false)

   

    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)



    <!--================ Start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 single-footer-widget">
                    <h4>Faael Khaeer  </h4>
                    <p>
                        When you have the ability to do good, do it, and when ALLAH put in your hands a tender that may benefit others, don't be stingy, and when you can light a road, or build a strucutre, or bulid a soul, or remove a stumbling block, or do a favor, be proactive and don't panic .. and know that everything is perishable except the beautiful effect <i class="ti-heart" aria-hidden="true"></i>.
                    </p>
                </div>

                <div class="col-lg-3 col-md-12 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="~/home/Delegates">Delegates</a></li>
                        <li><a href="~/home/CreateYourTable">Create your table</a></li>
                        <li><a href="~/home/RecommendedTable">Recommendeds Table</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 single-footer-widget">
                    <h4>Other Links</h4>
                    <ul>
                        <li><a href="~/home/AllDepartments">All Departments</a></li>
                        <li><a href="~/home/AllTeachers">All Teachers</a></li>
                        <li><a href="~/home/About">About us</a></li>
                        <li><a href="~/home/Contact">Contact us</a></li>
                        
                    </ul>
                </div>
            </div>

            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">

                    Developed by M.Abo El-Wafa & Template made by <a href="https://colorlib.com" target="_blank">Colorlib</a> | Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved

                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="https://www.fb.com/DataHTI"><i class="ti-facebook"></i></a>
                    <a href="https://youtube.com/channel/UC03uaTgRs043GGXXm7r-kJg"><i class="ti-youtube"></i></a>
                    @*<a href="FaaelKhaeer@outlook.com"><i class="ti-dribbble"></i></a>*@
                    @*<a href="#"><i class="ti-linkedin"></i></a>*@
                </div>
            </div>

        </div>
    </footer>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/owl-carousel-thumb.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/js/gmaps.min.js"></script>
    <script src="~/js/theme.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>



</body>
</html>
