@section Headerimg{
    <header class="header_area white-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="~/home/Index">
                        <img src="~/img/FaaelNew.jpeg" style="border-radius:50% ; height:50px" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="~/home/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/home/about">About</a>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">All Services</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/Delegates">Delegates</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/RecommendedTable">Recommended Tables</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/CreateYourTable">Create Your Table</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/home/Contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Create your table</h2>
                            <div class="page_link">
                                <a href="~/home/index">Home</a>
                                <a href="~/home/CreateYourTable">Create Your Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div class="container">
    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Create Your Table</h2>
                    <p>
                        At last you can create yor table by easy way .. just follow the steps below!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30 title_color">Step #1</h3>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        “Click the link below to create your own file with specifically courses
                        <a href="#">Click here</a>”
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30 title_color">Step #2</h3>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        “Upload your file here and select your courses, then create your own possible tabels!
                        <a href="#">Click here</a>”
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<center>
    <h3 class="mb-3">Need more help?</h3>
    <p>See this video below</p>
    <div class="container">
        <iframe width="550" height="315"
                src="https://www.youtube.com/embed/iQEKF2XB7Qc?autoplay=true">
        </iframe>

    </div>
</center>
<br />

