@model FKWebSite.Models.Delegate

@{
    ViewData["Title"] = "Edit";
}

<br />
<center>

    <h1>Edit</h1>
    <hr />
</center>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <br />
                    <img src="~/img/Delegates/@Model.Image" width="100" height="100" style="border-radius:50%" />
                    <input asp-for="File" type="file" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Department" class="control-label"></label>
                    <input asp-for="Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact" class="control-label"></label>
                    <input asp-for="Contact" class="form-control" />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quote" class="control-label"></label>
                    <input asp-for="Quote" class="form-control" />
                    <span asp-validation-for="Quote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <hr />

    <center>
        <a class="btn btn-success" asp-action="Index">Back to List</a>
    </center>
    <br />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
